<a href="https://colab.research.google.com/github/addicted-ai/kaggle_practice/blob/main/titanic_dt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.tree import plot_tree, export_graphviz

import graphviz
from IPython.display import Image

In [2]:
# Reading the dataset
df = pd.read_csv('https://raw.githubusercontent.com/addicted-ai/kaggle_practice/main/dataset/titanic/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/addicted-ai/kaggle_practice/main/dataset/titanic/test.csv')
gender_sub = pd.read_csv('https://raw.githubusercontent.com/addicted-ai/kaggle_practice/main/dataset/titanic/gender_submission.csv')

In [3]:
# data to be used for training & with labeled dependent variable
df.head(4)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S

[4 rows x 12 columns]

In [4]:
# test data that i have to get prediction & submit
test.head(4)

   PassengerId  Pclass                              Name  ...    Fare  Cabin  Embarked
0          892       3                  Kelly, Mr. James  ...  7.8292    NaN         Q
1          893       3  Wilkes, Mrs. James (Ellen Needs)  ...  7.0000    NaN         S
2          894       2         Myles, Mr. Thomas Francis  ...  9.6875    NaN         Q
3          895       3                  Wirz, Mr. Albert  ...  8.6625    NaN         S

[4 rows x 11 columns]

In [5]:
# Basically submission fotmat
gender_sub.head(4)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- Categorical columns are `Name`, `Sex`, `Ticket`, `Cabin`, `Embarked`.
- Name column can't be used for model.

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [8]:
cat_col = ['Sex', 'Ticket', 'Cabin', 'Embarked']
for i in cat_col:
  print(i,':')
  display(df[i].value_counts(dropna=False))
  print('________\n')

Sex :

male      577
female    314
Name: Sex, dtype: int64

________

Ticket :

1601                 7
CA. 2343             7
347082               7
347088               6
CA 2144              6
                    ..
12233                1
330932               1
STON/O 2. 3101286    1
A/5. 3337            1
244310               1
Name: Ticket, Length: 681, dtype: int64

________

Cabin :

NaN            687
G6               4
C23 C25 C27      4
B96 B98          4
F33              3
              ...
E49              1
A14              1
F G63            1
B3               1
B101             1
Name: Cabin, Length: 148, dtype: int64

________

Embarked :

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

________

In [9]:
print('No of Unique values in Cabin:')
display(df['Cabin'].nunique())
print('No of Unique values in Ticket:')
display(df['Ticket'].nunique())

No of Unique values in Cabin:

147

No of Unique values in Ticket:

681

- Both Ticket & Cabin have very high no of level. We can't use them for training.
- 'Age' Columns seems to have ~20% NaN values. We can drop it.
- 'Embarked` column has 2 NaN values. We can impute NaN with mode of column.

In [10]:
df['Embarked'] = df['Embarked'].replace(np.nan, df['Embarked'].mode()[0])

In [11]:
df['Fare'].describe(percentiles=[0.1, 0.25, 0.5, 0.75, .8, 0.9, 0.95, 0.97, 0.99, 1])

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
10%        7.550000
25%        7.910400
50%       14.454200
75%       31.000000
80%       39.687500
90%       77.958300
95%      112.079150
97%      151.550000
99%      249.006220
100%     512.329200
max      512.329200
Name: Fare, dtype: float64

In [12]:
df['Fare'].median()

14.4542

In [13]:
test['Fare'] = test['Fare'].replace(np.nan, df['Fare'].median())

In [14]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
features = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked']
X = pd.get_dummies(df[features])
X_test = pd.get_dummies(test[features])

y = df["Survived"]

In [16]:
dt = DecisionTreeClassifier(random_state=42)

In [17]:
params = {
    'max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15],
    'min_samples_leaf': [2,3,4,5,6, 7, 8,9, 10,11, 12,13, 14,15, 16,17,18],
    'min_samples_split': [2,3,4,5,6,7,8,9,10,12,14,16,18,20,22,24,26,28,30],
    'criterion': ["gini"]
}

In [18]:
grid_search = GridSearchCV(estimator=dt, 
                           param_grid=params, 
                           cv=4, n_jobs=-1, verbose=1, scoring = "accuracy")

In [19]:
grid_search.fit(X, y)

Fitting 4 folds for each of 4522 candidates, totalling 18088 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done 522 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done 5322 tasks      | elapsed:   18.5s
[Parallel(n_jobs=-1)]: Done 13322 tasks      | elapsed:   45.5s
[Parallel(n_jobs=-1)]: Done 18088 out of 18088 | elapsed:  1.0min finished

GridSearchCV(cv=4, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=42,
                                              splitter='best'),
             iid='deprecated', n_jobs=-1,
             param_grid={'criterion': ['gini'],
                         'max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,
                                       14, 15],
                         'min_samples_leaf': [2, 3, 4, 5, 6, 7, 8, 9, 10, 11,
                                              12, 13, 14, 15, 16, 17, 18],
                         'min_samples_split': [2, 3, 4, 5, 6, 7, 8, 9, 10, 12,
                                               14, 16, 18, 20, 22, 24, 26, 28,
                                               30]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=1)

In [20]:
score_df = pd.DataFrame(grid_search.cv_results_)
score_df.nlargest(5,"mean_test_score")

      mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
3563       0.005511      0.002329  ...        0.024778                1
3886       0.004083      0.000064  ...        0.024778                1
4209       0.004440      0.000136  ...        0.024778                1
3557       0.004212      0.000048  ...        0.022211                4
2982       0.004244      0.000145  ...        0.034426                5

[5 rows x 16 columns]

In [21]:
dt_best = grid_search.best_estimator_
dt_best

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=13, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=14,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=42, splitter='best')

In [ ]:
# Plotting Decision Tree using Graphviz
dot_data = export_graphviz(dt_best, out_file=None, 
                                feature_names=X.columns,  
                                class_names=['Survived', 'Not Survived'],
                                filled=True, rounded=True)
graph = graphviz.Source(dot_data, format="png")
graph.render("titanic_decision_tree") # saves png file
Image(graph.render("titanic_decision_tree")) # shows png file

# Plotting decision tree using plot_tree
# fig = plt.figure(figsize=(60,30))
# _ = plot_tree(dt_best, feature_names = X.columns, class_names=['Survived', "Not Survived"], filled=True)

In [23]:
predictions = dt_best.predict(X_test)

output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)