<a href="https://colab.research.google.com/github/addicted-ai/kaggle_practice/blob/main/titanic_xgb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn import metrics
from sklearn.metrics import confusion_matrix, accuracy_score, make_scorer
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier


import warnings
warnings.filterwarnings('ignore')

In [2]:
# Reading the dataset
df = pd.read_csv('https://raw.githubusercontent.com/addicted-ai/kaggle_practice/main/dataset/titanic/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/addicted-ai/kaggle_practice/main/dataset/titanic/test.csv')

In [3]:
# data to be used for training & with labeled dependent variable
df.head(4)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S

[4 rows x 12 columns]

In [4]:
# test data that i have to get prediction & submit
test.head(4)

   PassengerId  Pclass                              Name  ...    Fare  Cabin  Embarked
0          892       3                  Kelly, Mr. James  ...  7.8292    NaN         Q
1          893       3  Wilkes, Mrs. James (Ellen Needs)  ...  7.0000    NaN         S
2          894       2         Myles, Mr. Thomas Francis  ...  9.6875    NaN         Q
3          895       3                  Wirz, Mr. Albert  ...  8.6625    NaN         S

[4 rows x 11 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- Categorical columns are `Name`, `Sex`, `Ticket`, `Cabin`, `Embarked`.
- Name column can't be used for model.

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [7]:
cat_col = ['Sex', 'Ticket', 'Cabin', 'Embarked']
for i in cat_col:
  print(i,':')
  display(df[i].value_counts(dropna=False))
  print('________\n')

Sex :

male      577
female    314
Name: Sex, dtype: int64

________

Ticket :

CA. 2343       7
1601           7
347082         7
CA 2144        6
347088         6
              ..
350047         1
65304          1
C.A. 5547      1
14311          1
SC/AH 29037    1
Name: Ticket, Length: 681, dtype: int64

________

Cabin :

NaN            687
C23 C25 C27      4
G6               4
B96 B98          4
F2               3
              ...
A36              1
C111             1
D9               1
E63              1
E77              1
Name: Cabin, Length: 148, dtype: int64

________

Embarked :

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

________

In [8]:
print('No of Unique values in Cabin:')
display(df['Cabin'].nunique())
print('No of Unique values in Ticket:')
display(df['Ticket'].nunique())

No of Unique values in Cabin:

147

No of Unique values in Ticket:

681

- Both Ticket & Cabin have very high no of level. We can't use them for training.
- 'Age' Columns seems to have ~20% NaN values. We can drop it.
- 'Embarked` column has 2 NaN values. We can impute NaN with mode of column.

In [9]:
df['Embarked'] = df['Embarked'].replace(np.nan, df['Embarked'].mode()[0])

In [10]:
df['Fare'].describe(percentiles=[0.1, 0.25, 0.5, 0.75, .8, 0.9, 0.95, 0.97, 0.99, 1])

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
10%        7.550000
25%        7.910400
50%       14.454200
75%       31.000000
80%       39.687500
90%       77.958300
95%      112.079150
97%      151.550000
99%      249.006220
100%     512.329200
max      512.329200
Name: Fare, dtype: float64

In [11]:
df['Fare'].median()

14.4542

In [12]:
test['Fare'] = test['Fare'].replace(np.nan, df['Fare'].median())

In [13]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [14]:
features = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked']
X = pd.get_dummies(df[features])
X_test = pd.get_dummies(test[features])

y = df["Survived"]

In [16]:
param_test1 = {
    'n_estimators': [500,750,1000],
    'max_depth': [3,5],
    'min_child_weight': [1,3,5],
    'gamma':[0.0,0.01],
    'subsample':[0.7,0.8],
    'colsample_bytree': [0.6,0.7],
    'reg_alpha':[0.001,0.01, 0.1],
    'learning_rate': [0.001,0.01, 0.1]
}
scoring = {'AUC': 'roc_auc', 'Accuracy': make_scorer(accuracy_score)}
gs = GridSearchCV(estimator = XGBClassifier(),
                       param_grid = param_test1,
                       scoring=scoring, iid=False,
                       cv=4, verbose = 1,
                       refit='Accuracy')
gs.fit(X, y)

Fitting 4 folds for each of 1296 candidates, totalling 5184 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 5184 out of 5184 | elapsed: 27.0min finished

GridSearchCV(cv=4, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_po...
             param_grid={'colsample_bytree': [0.6, 0.7], 'gamma': [0.0, 0.01],
                         'learning_rate': [0.001, 0.01, 0.1],
                         'max_depth': [3, 5], 'min_child_weight': [1, 3, 5],
                         'n_estimators': [500, 750, 1000],
                         'reg_alpha': [0.001, 0.01, 0.1],
                         'subsample': [0.7, 0.8]},
             pre_dispatch='2*n_jobs', refit='Accuracy',
             return_train_score=False,
             scoring={'AUC': 'roc_auc',
                      'Accuracy': make_scorer(accuracy_score)},
             verbose=1)

In [17]:
xgb = gs.best_estimator_

In [18]:
y_pred = xgb.predict(X_test)

In [20]:
print('Accuracy of the model is:  ',accuracy_score(y, xgb.predict(X)))

Accuracy of the model is:   0.877665544332211

In [21]:
output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': y_pred})
output.to_csv('my_submission.csv', index=False)

In [22]:
#Confusion Matrix
cm = confusion_matrix(y, xgb.predict(X))
print('The confusion Matrix : \n',cm)

The confusion Matrix :
 [[509  40]
 [ 69 273]]